doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(defer src='/javascripts/2_getting_schedules.js')
    script(defer src='/javascripts/7_cancellations.js')
  body
    block content
